In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
adm1_input = pd.read_csv(r'C:\Users\fede1\OneDrive - Politecnico di Milano\Documenti\GitHub\AD-OCS\AD-OCS\PyADM1\PyADM1_dyn\thoni_digester_influent_dyn.csv', index_col=0)
adm1_input['XT'] = adm1_input['X_xc']+adm1_input['X_ch']+adm1_input['X_pr']+adm1_input['X_li']
adm1_input['S1'] = adm1_input['S_su'] + adm1_input['S_aa'] + adm1_input['S_fa'] 
adm1_input['S2'] = (adm1_input['S_va']/208 + adm1_input['S_bu']/160 + adm1_input['S_pro']/112 + adm1_input['S_ac']/64)*1000
adm1_input['C'] = adm1_input['S_IC']*1000
adm1_input['N'] = adm1_input['S_IN']*1000

# Convert ADM1 variable to AD_OCS variables
ad_ocs_input = pd.DataFrame()
ad_ocs_input['Qin'] = adm1_input['Q']
ad_ocs_input['S1in'] = adm1_input['S1']
ad_ocs_input['S2in'] = adm1_input['S2']
ad_ocs_input['XTin'] = adm1_input['XT']
ad_ocs_input['XTin'] = adm1_input['XT']
ad_ocs_input['Cin'] = adm1_input['C']
ad_ocs_input['Nin'] = adm1_input['N']

# Create the new dataframe
A = ad_ocs_input.index.to_numpy
# round to 2 decimal places
ad_ocs_input = ad_ocs_input.round(2)
ad_ocs_input['time']=ad_ocs_input.index
ad_ocs_input['time']=np.floor(ad_ocs_input['time']).astype(int)+1
ad_ocs_input.drop_duplicates(subset='time', keep='first', inplace=True)
ad_ocs_input.set_index('time', inplace=True)
ad_ocs_input

         Qin  S1in  S2in   XTin  Cin  Nin
time
1     290.65     0   0.0  41.08    0    0
2     288.52     0   0.0  40.99    0    0
3     286.38     0   0.0  40.90    0    0
4     286.38     0   0.0  40.90    0    0
5     286.38     0   0.0  40.90    0    0
6     286.38     0   0.0  40.90    0    0
7     287.45     0   0.0  40.95    0    0
8     287.45     0   0.0  40.95    0    0
9     290.65     0   0.0  41.08    0    0
10    290.87     0   0.0  41.08    0    0
11    291.93     0   0.0  41.12    0    0
12    291.93     0   0.0  41.12    0    0
13    291.72     0   0.0  41.11    0    0
14    291.72     0   0.0  41.11    0    0
15    292.79     0   0.0  41.15    0    0
16    292.79     0   0.0  41.15    0    0
17    292.79     0   0.0  41.15    0    0
18    303.31     0   0.0  41.08    0    0
19    303.31     0   0.0  41.08    0    0
20    303.31     0   0.0  41.08    0    0
21    304.38     0   0.0  41.12    0    0
22    305.45     0   0.0  41.16    0    0
23    305.45     0   0.0  41.16    0    0
24    305.45     0   0.0  41.16    0    0
25    284.40     0   0.0  41.31    0    0
26    284.40     0   0.0  41.31    0    0
27    263.36     0   0.0  41.46    0    0
28    263.36     0   0.0  41.46    0    0
29    263.36     0   0.0  41.46    0    0
30    263.36     0   0.0  41.46    0    0
31    263.36     0   0.0  41.46    0    0

In [4]:
ad_ocs_input['Qin_dev'] = ad_ocs_input['Qin']/ad_ocs_input['Qin'].iloc[1]
ad_ocs_input['S1in_dev'] = ad_ocs_input['S1in']/ad_ocs_input['S1in'].iloc[0]
ad_ocs_input['S2in_dev'] = ad_ocs_input['S2in']/ad_ocs_input['S2in'].iloc[0]
ad_ocs_input['XTin_dev'] = ad_ocs_input['XTin']/ad_ocs_input['XTin'].iloc[0]
ad_ocs_input['Cin_dev'] = ad_ocs_input['Cin']/ad_ocs_input['Cin'].iloc[0]
ad_ocs_input['Nin_dev'] = ad_ocs_input['Nin']/ad_ocs_input['Nin'].iloc[0]
ad_ocs_input.round(5).fillna(0)

deviations = pd.DataFrame()
deviations['Qin'] = ad_ocs_input['Qin_dev'][1:]
deviations['S1in'] = ad_ocs_input['S1in_dev'][1:]
deviations['S2in'] = ad_ocs_input['S2in_dev'][1:]
deviations['XTin'] = ad_ocs_input['XTin_dev'][1:]
deviations['Cin'] = ad_ocs_input['Cin_dev'][1:]
deviations['Nin'] = ad_ocs_input['Nin_dev'][1:]
deviations['time'] = ad_ocs_input.index[1:]
deviations.fillna(0, inplace=True)
#deviations.to_excel(r"C:\Users\fede1\OneDrive - Politecnico di Milano\Documenti\GitHub\AD-OCS\Working_data\thoni_deviations.xlsx", index=False, header=True, sheet_name='Deviations')

In [5]:
for i in range(len(ad_ocs_input)):
    for key, value in ad_ocs_input.items():
        ad_ocs_input[key].iloc[i] = ad_ocs_input[key].iloc[i]/ad_ocs_input[key].iloc[0]

C:\Users\fede1\AppData\Roaming\Python\Python310\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
C:\Users\fede1\AppData\Local\Temp\ipykernel_5180\4196818268.py:3: RuntimeWarning: invalid value encountered in longlong_scalars
  ad_ocs_input[key].iloc[i] = ad_ocs_input[key].iloc[i]/ad_ocs_input[key].iloc[0]
C:\Users\fede1\AppData\Local\Temp\ipykernel_5180\4196818268.py:3: RuntimeWarning: invalid value encountered in double_scalars
  ad_ocs_input[key].iloc[i] = ad_ocs_input[key].iloc[i]/ad_ocs_input[key].iloc[0]

In [6]:
ad_ocs_input

,Qin,S1in,S2in,XTin,Cin,Nin,Qin_dev,S1in_dev,S2in_dev,XTin_dev,Cin_dev,Nin_dev
time,,,,,,,,,,,,
1,1.00,NaN,NaN,1.00,NaN,NaN,1.000000,NaN,NaN,1.000000,NaN,NaN
2,288.52,NaN,NaN,40.99,NaN,NaN,1.000000,NaN,NaN,0.997809,NaN,NaN
3,286.38,NaN,NaN,40.90,NaN,NaN,0.992583,NaN,NaN,0.995618,NaN,NaN
4,286.38,NaN,NaN,40.90,NaN,NaN,0.992583,NaN,NaN,0.995618,NaN,NaN
5,286.38,NaN,NaN,40.90,NaN,NaN,0.992583,NaN,NaN,0.995618,NaN,NaN
6,286.38,NaN,NaN,40.90,NaN,NaN,0.992583,NaN,NaN,0.995618,NaN,NaN
7,287.45,NaN,NaN,40.95,NaN,NaN,0.996291,NaN,NaN,0.996835,NaN,NaN
8,287.45,NaN,NaN,40.95,NaN,NaN,0.996291,NaN,NaN,0.996835,NaN,NaN
9,290.65,NaN,NaN,41.08,NaN,NaN,1.007383,NaN,NaN,1.000000,NaN,NaN
10,290.87,NaN,NaN,41.08,NaN,NaN,1.008145,NaN,NaN,1.000000,NaN,NaN
11,291.93,NaN,NaN,41.12,NaN,NaN,1.011819,NaN,NaN,1.000974,NaN,NaN
12,291.93,NaN,NaN,41.12,NaN,NaN,1.011819,NaN,NaN,1.000974,NaN,NaN
13,291.72,NaN,NaN,41.11,NaN,NaN,1.011091,NaN,NaN,1.000730,NaN,NaN
14,291.72,NaN,NaN,41.11,NaN,NaN,1.011091,NaN,NaN,1.000730,NaN,NaN
15,292.79,NaN,NaN,41.15,NaN,NaN,1.014800,NaN,NaN,1.001704,NaN,NaN
16,292.79,NaN,NaN,41.15,NaN,NaN,1.014800,NaN,NaN,1.001704,NaN,NaN
17,292.79,NaN,NaN,41.15,NaN,NaN,1.014800,NaN,NaN,1.001704,NaN,NaN
18,303.31,NaN,NaN,41.08,NaN,NaN,1.051262,NaN,NaN,1.000000,NaN,NaN
19,303.31,NaN,NaN,41.08,NaN,NaN,1.051262,NaN,NaN,1.000000,NaN,NaN
20,303.31,NaN,NaN,41.08,NaN,NaN,1.051262,NaN,NaN,1.000000,NaN,NaN
21,304.38,NaN,NaN,41.12,NaN,NaN,1.054970,NaN,NaN,1.000974,NaN,NaN
22,305.45,NaN,NaN,41.16,NaN,NaN,1.058679,NaN,NaN,1.001947,NaN,NaN
23,305.45,NaN,NaN,41.16,NaN,NaN,1.058679,NaN,NaN,1.001947,NaN,NaN
24,305.45,NaN,NaN,41.16,NaN,NaN,1.058679,NaN,NaN,1.001947,NaN,NaN
25,284.40,NaN,NaN,41.31,NaN,NaN,0.985720,NaN,NaN,1.005599,NaN,NaN
26,284.40,NaN,NaN,41.31,NaN,NaN,0.985720,NaN,NaN,1.005599,NaN,NaN
27,263.36,NaN,NaN,41.46,NaN,NaN,0.912796,NaN,NaN,1.009250,NaN,NaN
28,263.36,NaN,NaN,41.46,NaN,NaN,0.912796,NaN,NaN,1.009250,NaN,NaN
29,263.36,NaN,NaN,41.46,NaN,NaN,0.912796,NaN,NaN,1.009250,NaN,NaN
30,263.36,NaN,NaN,41.46,NaN,NaN,0.912796,NaN,NaN,1.009250,NaN,NaN
31,263.36,NaN,NaN,41.46,NaN,NaN,0.912796,NaN,NaN,1.009250,NaN,NaN

In [7]:

ex = pd.read_csv(r'C:\Users\fede1\OneDrive - Politecnico di Milano\Documenti\GitHub\AD-OCS\AD-OCS\PyADM1\PyADM1-master\matlab_digester_influent.csv')
columns = ex.columns
dt = ex.time[1] - ex.time[0]
new = pd.DataFrame(columns = columns)
new.time = np.arange(1, 32, dt)
new.set_index('time', inplace = True)

In [8]:
data = pd.read_excel(r'C:\Users\fede1\OneDrive - Politecnico di Milano\Documenti\GitHub\AD-OCS\Working_data\thoni.xlsx', sheet_name = "Working_fede", header = None)
data = data.transpose()
data.columns = data.iloc[0,:]
data = data.drop(data.index[0])

PermissionError: [Errno 13] Permission denied: 'C:\\Users\\fede1\\OneDrive - Politecnico di Milano\\Documenti\\GitHub\\AD-OCS\\Working_data\\thoni.xlsx'

In [ ]:
data

NameError: name 'data' is not defined

In [ ]:
loc_day = 1
for t in new.index:
        if t > loc_day+1: # if the time is greater than the next day switch the local index to the next day 
            loc_day += 1    
        new.loc[t, 'T'] = [data.loc[loc_day, 'T']]
        new.loc[t, 'Q'] = [data.loc[loc_day, 'Q']]
        new.loc[t, 'X_ch'] = [data.loc[loc_day, 'Carbohydrates']]
        new.loc[t, 'X_pr'] = [data.loc[loc_day, 'Proteins']]
        new.loc[t, 'X_li'] = [data.loc[loc_day, 'Lipids']]
        new.loc[t, 'X_xc'] = [data.loc[loc_day, 'Composites']]
        new.loc[t, 'S_I'] = [data.loc[loc_day, 'Sol_Inerts']]
        new.loc[t, 'X_I'] = [data.loc[loc_day, 'Inerts']]

new.fillna(0, inplace = True)
new.index = new.index-1 # to have times starting from zero

In [ ]:
#new.to_csv(r'C:\Users\fede1\OneDrive - Politecnico di Milano\Documenti\GitHub\AD-OCS\AD-OCS\PyADM1\PyADM1-master\thoni_orig_digester_influent.csv', index = True)

In [ ]:
new

,S_su,S_aa,S_fa,S_va,S_bu,S_pro,S_ac,S_h2,S_ch4,S_IC,...,S_pro_ion,S_ac_ion,S_hco3_ion,S_co2,S_nh3,S_nh4_ion,S_gas_h2,S_gas_ch4,S_gas_co2,T
time,,,,,,,,,,,,,,,,,,,,,
0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0
0.020833,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0
0.041667,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0
0.062500,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0
0.083333,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30.916666,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0
30.937500,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0
30.958333,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0
30.979166,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0
31.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0

Set the csv to get SS values to start the simulation

In [ ]:
new_SS = new
new_SS.iloc[:,:]= new.iloc[0,:] # to have the same initial conditions for all the simulation

In [ ]:
ex = pd.read_csv(r'C:\Users\fede1\OneDrive - Politecnico di Milano\Documenti\GitHub\AD-OCS\AD-OCS\PyADM1\PyADM1-master\matlab_digester_influent.csv')
columns = ex.columns
dt = ex.time[1] - ex.time[0]
new_SS = pd.DataFrame(columns = columns)
new_SS.time = np.arange(0, 30, dt)
new_SS.insert(41, 'T', 25)
new_SS.set_index('time', inplace = True)
new_SS.iloc[:,:]= new.iloc[0,:] # to have the same initial conditions for all the simulation
new_SS

,S_su,S_aa,S_fa,S_va,S_bu,S_pro,S_ac,S_h2,S_ch4,S_IC,...,S_pro_ion,S_ac_ion,S_hco3_ion,S_co2,S_nh3,S_nh4_ion,S_gas_h2,S_gas_ch4,S_gas_co2,T
time,,,,,,,,,,,,,,,,,,,,,
0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0
0.020833,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0
0.041667,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0
0.062500,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0
0.083333,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29.916666,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0
29.937500,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0
29.958333,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0
29.979166,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0
30.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0

In [ ]:
#new_SS.to_csv(r'C:\Users\fede1\OneDrive - Politecnico di Milano\Documenti\GitHub\AD-OCS\AD-OCS\PyADM1\PyADM1-master\thoni_org_digester_influent.csv', index = True)